<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup><supportedRuntime version="v2.0.50727"/></startup>
  <appSettings>
    <!-- Enter Product and Vendor ID of your weight (tested with Dymo) but should work with different scales supported by HIDLibary -->
    <add key="hidProductID" value="0x0922" />
    <add key="hidVendorID" value="0x8003" />
    <!-- g for gram or oz for ounce or lb for pound -->
    <add key="weightunit" value="g" />
  </appSettings>
</configuration>
